@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Wedding Color System */
  --primary: #e0115f; /* Ruby Red - Romance & Love */
  --secondary: #ffd7b8; /* Peach - Soft backgrounds & warmth */
  --tertiary: #96ffcc; /* Mint - Accents & fresh highlights */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-display: var(--font-playfair);
  --font-heading: var(--font-cormorant);

  /* Custom colors */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, sans-serif;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  /* background: var(--primary); */
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c00e4f;
}
